<!-- <app-top-bar></app-top-bar> -->
<toolbar-overview-example></toolbar-overview-example>
<!-- <sidenav-overview-example></sidenav-overview-example> -->
<!-- <sidenav-position-example></sidenav-position-example> -->
<sidenav-open-close-example></sidenav-open-close-example>

<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->